:root {
    --primary-color:#9b7e5cbf;
    --secondary-color: #f8f9fc;
    --sidebar-width: 250px;
    
}

body {
    font-family: 'Tajawal', sans-serif;
    background-color: #f8f9fc;
}

/* Sidebar Styles */
#offcanvasLeft {
  

    background: linear-gradient(180deg, var(--primary-color) 50%, #5b5a13a9 100%);
    color: white;
    transition: all 0.3s;
}

#offcanvasLeft .offcanvasLeft-header {
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
}

#offcanvasLeft ul.components {
    padding: 20px 0;
}

#offcanvasLeft ul li a {
    padding: 15px 20px;
    font-size: 1.1em;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: all 0.3s;
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
}

#offcanvasLeft ul li a:hover {
    background: var(--main-color);
}

#offcanvasLeft ul li a i {
    margin-left: 10px;
}

#offcanvasLeft ul li.active > a {
    color: #fff;
    background:var(--main-color);
}


/* Page Content Styles */
#content {
    margin-right: var(--staticBackdrop-width);
    padding: 20px;
    transition: all 0.3s;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    margin-bottom: 20px;
}

.card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 10px 10px 0 0 !important;
}

.table-responsive {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.table thead th {
    border-bottom: 2px solid #e3e6f0;
    background-color: #f8f9fc;
    font-weight: 600;
}

.table tbody tr:hover {
    background-color: #f8f9fc;
}


.custom-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index:20;
    justify-content: center;
    align-items: center;
    transition: none;
}

.alert-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    position: absolute;
    top: 40%;
    left: -50%;
    transform: translate(-50%,-50%);
}



.alert-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.headBtn{
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
    border: solid 0.15rem transparent;
}
.headBtn:hover{
    background-color: transparent;
    color: var(--main-color);
    border: solid 0.15rem var(--main-color);
}
.dropdown-menu a{
   font-size: 18px;
   font-weight: 600;
   color: var(--main-color);
   cursor: pointer;
}
.dropdown-menu a:hover{
  background-color: var(--second-color);
  color: white;
}
.card-header{
    background-color: var(--second-color);
}
table tr td img{
    width: 100%;
    height: 100px;
}
table tr td {
  align-content: center;
}
/* From Uiverse.io by mrhyddenn */ 
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 62px;
    height: 30px;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 1;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.6em;
    width: 1.6em;
    border-radius: 16px;
    left: 1px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
   }
   
   input:checked + .slider:before {
    transform: translateX(1.8em);
   }
