.nav-links{
    background-color: var(--bg-light);
    padding: 3px;
}
.nav-tabs .nav-link {
    background-color:transparent;
    padding: 5px 20px;
    border-radius: 25px;
    color: var(--second-text);
    cursor: pointer;
    
}
.nav-tabs .nav-link.active {
    background-color:var(--main-color);  
    color: white;
}









/* asmaa css */
.hero-section {
    position: relative;
   height: 60vh;
    background-image: url('../imgs/unsplash_nimElTcTNyY.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 28% ;
    

}

.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.452); /* الطبقة السوداء الشفافة */
    z-index: 1;
}

.hero-section .content {
    position: relative;
    top: 3vh;
    z-index: 2;
    
    
}






