
.valid-feedback,
.invalid-feedback {
  position: absolute;
  bottom: -1.25rem; /* or adjust based on spacing */
 
}
.form-group {
    margin-bottom: 2rem !important; 
}
.fa-eye-slash, .fa-eye {
    z-index: 1;
    pointer-events: auto;
}
.fa-eye-slash, .fa-eye {
    z-index: 1;
    pointer-events: auto;
}
.form-title{
   color: var( --text-color);
   font-family: var( --font-family);  
}
.form-subtitle{
    color: var(--second-text);
}
.form-subtitle a{
    color: var(--main-color);
}
.btn-form{
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 5px;
    padding: 5px 18px;
    border-radius: 20px;
    height: 2.5rem;
  
}
.btn-form:hover{
    background-color: var(--bg-color);
    color: var(--main-color);
    border: solid 0.1rem var(--main-color);
}
.icons a:hover i {
    opacity: 0.8;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
  .form-icon input{
   border:  solid 0.1rem var(--main-color);
    height: 3rem;;
  }
  .form-icon {

    min-height: 3.5rem; /* or whatever fits your input + feedback */
}
.form-icon i{
    color: var(--main-color);
  z-index: 1;
}
